
<div class="row mt-3">
  <p class="alert alert-success small p-0"> 👲 Squad Selection for Series</p>
 </div>
 <div class="row mt-1">
    <div class="col-3">
      <div class="mb-3">
        <div class="row">
          <span class="ms-2 mb-1">-- Ongoing/Scheduled Tournaments --</span>
          <div class="col-12 mb-1 pad-reduce-card" *ngFor="let item of serieses;let i = index;">
             <div class="card shadow">
               <div class="card-body">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" (change)="onSeriesSelect(item)" type="radio" name="teams" id="Radio{{i}}" value="{{item.seriesId}}" >
                  <label class="form-check-label" for="Radio{{i}}">
                    <fa-icon class="color-9 me-1" icon="trophy"></fa-icon>{{item.seriesName}}
                  </label>
                 </div>
                <div>
                  <span><fa-icon class="color-10 me-1" icon="{{item.seriesTypes=='International'?'earth-americas':'house'}}"></fa-icon>{{item.seriesTypes}}</span><span>(<fa-icon class="color-10 me-1" icon="location-dot"></fa-icon>{{item.location}})</span>
                </div>
                <div class="mt-1">
                  <span><fa-icon class="color-10 me-1" icon="calendar-days"></fa-icon>{{item.startDate | date:'mediumDate'}}-{{item.endDate | date:'mediumDate'}}</span>
                </div>
               </div>
            </div>
          </div>  
        </div>
      </div>
    </div>
    <div class="col-9">
        <div class="row">
          <span class="mb-1">-- All Teams --</span>
          <div class="col-lg-3 col-md-4 col-sm-6 mb-2 pad-reduce-card" *ngFor="let item of originalTeam;let i = index;">
            <div class="card shadow" [ngClass]="getappcommonService(i+1)">
              <div class="card-body">
                <div class="mt-1">
                  <span><fa-icon class="color-9 me-1" icon="people-group"></fa-icon><b>{{item.teamName}}</b></span>
                </div>
                <div class="mt-1">
                  <span><fa-icon class="color-10 me-1" icon="{{item.teamTypes=='International'?'earth-americas':'house'}}"></fa-icon>{{item.teamTypes}}</span>
                </div>
                <div class="top-right-pos">
                  <input type="checkbox" (change)="onChangeTeam(item,$event)" class="form-check-input" [disabled]="item.isAddedSeries" [checked]="item.isAddedSeries"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      
        <div class="row">
          <span class="mb-1 mt-4">-- Selected Teams --</span>
          <span *ngIf="selectedTeamList.length==0" class="mt-4 text-center">No Team selected</span>
          <div class="col-lg-3 col-md-4 col-sm-6 mb-2 pad-reduce-card" *ngFor="let item of selectedTeamList;let i = index;">
            <div class="card shadow" [ngClass]="getappcommonService(i)">
              <div class="card-body">
                <div class="mt-1">
                  <span><fa-icon class="color-9 me-1" icon="people-group"></fa-icon><b>{{item.teamName}}</b></span>
                </div>
                <div class="mt-1">
                  <span><fa-icon class="color-10 me-1" icon="{{item.teamTypes=='International'?'earth-americas':'house'}}"></fa-icon>{{item.teamTypes}}</span>
                </div>
                <div class="d-flex justify-content-center" *ngIf="!isDeleted">                 
                    <button class="btn btn-link" [disabled]="item.isAddedSeries==false" (click)="onTeamClick(item)">
                      <fa-icon class="color-1" icon="plus"></fa-icon>
                      Add/Update Players
                    </button>
                </div>
                <div class="top-right-pos-1" *ngIf="isDeleted">
                  <button class="btn btn-link" (click)="onRemove(item)">
                    <fa-icon class="color-10" icon="trash"></fa-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="row mt-1">
        <div class="col-12">
          <div class="mb-3 float-end" *ngIf="selectedTeamList.length>0">
            <button type="button" class="btn btn-success me-1" [disabled]="isDeleted" (click)="onAddTeam()"><fa-icon class="me-1" icon="circle-plus"></fa-icon>Add Team to Tournament</button>
           <button type="button" class="btn btn-danger" (click)="onDeleteClick()"><fa-icon *ngIf="!isDeleted" class="me-1" icon="circle-minus"></fa-icon>{{btnRemoveText}}</button>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="modal"  [config]="{backdrop: 'static'}" bsModal #palyersModal="bs-modal" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
   <div class="modal-content">
    <div class="modal-header bg-success text-white">
      <h6 class="modal-title" id="question">Add/Update Players</h6>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="onClose()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body" id="selections1">
          <!-- <div class="row">
            <div class="col-lg-3">
                <span>Player Type</span>
                <ng-multiselect-dropdown
                  [placeholder]="'Player Type'"
                  [settings]="dropdownSettings"
                  [data]="dropdownList"
                  [(ngModel)]="selectedItems"
                  (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown> 
               </div>
               <div class="col-lg-3">
                <span>Player Category</span>
                <ng-multiselect-dropdown
                  [placeholder]="'Player Category'"
                  [settings]="dropdownSettings"
                  [data]="dropdownList"
                  [(ngModel)]="selectedItems"
                  (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown> 
               </div>
               <div class="col-lg-3">
                <span>Player Category</span>
                <ng-multiselect-dropdown
                  [placeholder]="'Players'"
                  [settings]="dropdownSettings"
                  [data]="dropdownList"
                  [(ngModel)]="selectedItems"
                  (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown> 
               </div>
               <div class="col-lg-3">
                  <button type="button" class="btn btn-secondary btn-margin-top">Reset Filters</button>
               </div>
          </div>
          <hr/> -->
            <div class="row">
              <span>-- Players --</span>
              <div class="col-lg-2 col-md-4 col-sm-6 m-2 pad-reduce-card" *ngFor="let item of playerList;let i = index;">
                <div class="card shadow" [ngClass]="getappcommonService(i)">
                  <div class="card-body">
                    <div class="mt-1">
                      <span><fa-icon class="color-1 me-1" icon="user-alt"></fa-icon><b>{{item.player.name}}</b></span>
                    </div>
                    <div class="mt-1">
                      <span><fa-icon class="color-4 me-1" icon="users"></fa-icon>{{item.player.role}}</span><span>({{item.player.teamName!=null?item.player.teamName:"-- NA --"}})</span>
                    </div>
                    <div class="top-right-pos">
                      <input type="checkbox" class="form-check-input" (change)="onPlayerSelect((item.player),$event)" [checked]="item.isSelected">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">

            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onClose()">Close</button>
        <button type="button" class="btn btn-primary" (click)="onPlayerUpdate()">Save changes</button>
      </div>
    </div>
  </div>
