<div class="row">
    <div class="col-12">
        <div class="mb-3">
            <label for="inputSeries" class="form-label">Series</label>
            <select class="form-control" id="inputSeries">
                <option value="0">--Select Series--</option>
            </select> 
          </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="mb-3">
            <label for="inputTeamA" class="form-label">Team A</label>
            <select class="form-control" id="inputTeamA">
                <option value="0">--Select Team A--</option>
            </select> 
          </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="mb-3">
            <label for="inputTeamB" class="form-label">Team B</label>
            <select class="form-control" id="inputTeamB">
                <option value="0">--Select Team B--</option>
            </select> 
          </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button id="btnstart" class="btn btn-primary">Start Match</button>
    </div>
</div>