<div id="title" class="row center">
    <p class="alert alert-info small text-center p-0 mt-2 mb-0">🛈 Scoreboard</p>
</div>
<div id="scoreboard">
    <p class="alert alert-danger small text-start p-0 mt-2 mb-0"> 🏏 Batting Team</p>
    <div class="row">
        <div class="col">
            <table class="table table-borderless">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Batter</th>
                        <td scope="col">R</td>
                        <td scope="col">B</td>
                        <td scope="col">4s</td>
                        <td scope="col">6s</td>
                        <td scope="col">SR</td>
                      </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="strikerDetails.name!=''">
                        <tr>
                            <td>{{strikerDetails.name==""?"":strikerDetails.name+"*"}}</td>
                            <td>{{strikerDetails.runs_score}}</td>
                            <td>{{strikerDetails.balls_faced}}</td>
                            <td>{{strikerDetails.fours}}</td>
                            <td>{{strikerDetails.sixes}}</td>
                            <td>{{strikerDetails.strike_rate}}</td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="nonStrikerDetails.name!=''">
                    <tr>
                        <td>{{nonStrikerDetails.name}}</td>
                        <td>{{nonStrikerDetails.runs_score}}</td>
                        <td>{{nonStrikerDetails.balls_faced}}</td>
                        <td>{{nonStrikerDetails.fours}}</td>
                        <td>{{nonStrikerDetails.sixes}}</td>
                        <td>{{nonStrikerDetails.strike_rate}}</td>
                    </tr>
                </ng-container>
                </tbody>
            </table>
        </div>
    </div>
    <p class="alert alert-danger small text-start p-0 mt-2 mb-0"> 🥎 Bowling Team</p>
    <div class="row">
        <div class="col">
            <table class="table table-borderless">
                <thead class="table-light">
                 <tr>
                    <th scope="col">Bowler</th>
                    <td scope="col">O</td>
                    <td scope="col">M</td>
                    <td scope="col">R</td>
                    <td scope="col">W</td>
                    <td scope="col">Eco.</td>
                  </tr>
                </thead>
                <tbody>
                   <ng-container *ngIf="bowlerDetails.name!=''">
                     <tr>
                        <td>{{bowlerDetails.name}}</td>
                        <td>{{bowlerDetails.overs_bowl_display}}</td>
                        <td>{{bowlerDetails.maiden_over}}</td>
                        <td>{{bowlerDetails.runs_given}}</td>
                        <td>{{bowlerDetails.wickets_taken}}</td>
                        <td>{{bowlerDetails.economy}}</td>
                     </tr>
                    </ng-container>
                   <ng-container *ngIf="last_bowlerDetails.overs_bowl>0">
                    <tr>
                        <td>{{last_bowlerDetails.name}}</td>
                        <td>{{last_bowlerDetails.overs_bowl_display}}</td>
                        <td>{{last_bowlerDetails.maiden_over}}</td>
                        <td>{{last_bowlerDetails.runs_given}}</td>
                        <td>{{last_bowlerDetails.wickets_taken}}</td>
                        <td>{{last_bowlerDetails.economy}}</td>
                      </tr>
                  </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="events" class="container center">
    <div class="row">
        <div class="col-sm">
            <div class="row text-center mb-2 flex-wrap" style="font-family: monospace;">
                <div class="col-3 py-1 border btn btn-primary" data-event="0" (click)="eventClick('0')">0</div>
                <div class="col-3 py-1 border btn btn-primary" data-event="1" (click)="eventClick('1')">1</div>
                <div class="col-3 py-1 border btn btn-primary" data-event="2" (click)="eventClick('2')">2</div>
                <div class="col-3 py-1 border btn btn-primary" data-event="3" (click)="eventClick('3')">3</div>
                
                <div class="col-3 py-1 border btn btn-primary" data-event="4" (click)="eventClick('4')">4</div>
                <div class="col-3 py-1 border btn btn-primary" data-event="6" (click)="eventClick('5')">5</div>
                <div class="col-3 py-1 border btn btn-primary" data-event="4" (click)="eventClick('6')">6</div>
                <div class="col-3 py-1 border btn btn-primary" data-event="6" (click)="eventClick('7')">7</div>

                <div class="col-3 py-1 border btn btn-dark" data-event="Wd" (click)="eventClick('Wd')">Wide</div>
                <div class="col-3 py-1 border btn btn-dark" data-event="N" (click)="eventClick('N')">No-Ball</div>
                <div class="col-3 py-1 border btn btn-dark" data-event="Lb" (click)="eventClick('Lb')">Leg Bye</div>
                <div class="col-3 py-1 border btn btn-dark" data-event="B" (click)="eventClick('B')">Bye</div>

                <div class="col-4 py-1 border btn btn-info" data-event="P" (click)="eventClick('P')">Penalty</div>
                <div class="offset-4 col-4 py-1 border btn btn-danger" data-event="W" (click)="eventClick('W')">Wicket</div>

                <div class="col-4 py-1 border btn btn-secondary" data-event="Re" (click)="eventClick('Re')">Re-Ball</div>
                <div class="col-4 py-1 border btn btn-dark" data-event="Un" (click)="eventClick('Un')">Undo</div>
                <div class="col-4 py-1 border btn btn-success" data-event="Ro" (click)="eventClick('Ro')">Rotate</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="alert alert-secondary text-center" id="ballHistory">
        </div>
    </div>
    
    <div class="modal fade" id="modal" bsModal #parentModal="bs-modal" [config]="{backdrop: 'static'}" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
            <h5 class="modal-title" id="question">{{modalmessage}}</h5>
            </div>
            <div class="modal-body" id="selections">
                  <app-setplayer (sendPlayer)="readPlayer($event)" [player]="playersSet"></app-setplayer> 
            </div>
            <div class="text-center py-3">
            <button type="button" id="confirm" class="btn btn-success">Confirm</button>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="runmademodal" bsModal #runmademodal="bs-modal" [config]="{backdrop: 'static'}" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
            <h5 class="modal-title" id="question1">{{runmodalmessage}}</h5>
            </div>
            <div class="modal-body" id="selections">
                <div class="list-group">
                    <ng-container *ngFor="let run of extraRun">
                        <input type="radio" name="optionsrun" id="{{run}}" value="{{run}}">
                        <label class="list-group-item" for="{{run}}">{{run}}</label>
                    </ng-container>
                </div>
            </div>
            <div class="text-center py-3">
            <button type="button" id="rumconfirm" class="btn btn-success" (click)="onRunConfirm()">Confirm</button>
            </div>
        </div>
        </div>
    </div>

</div>
