.table td, .table th
{
    padding:0.2rem;
}
.list-group-item {
    user-select: none;
    font-size: large;
    font-family: monospace;
}

.list-group input[type="radio"] {
    display: none;
}

.list-group input[type="radio"] + .list-group-item {
    cursor: pointer;
}

.list-group input[type="radio"] + .list-group-item:before {
    content: "👉";
    color: transparent;
    font-weight: bold;
    margin-right: 1em;
}

.list-group input[type="radio"]:checked + .list-group-item {
    background-color: #bed7ec;
}

.list-group input[type="radio"]:checked + .list-group-item:before {
    color: inherit;
}