<div id="title" class="row center">
    <p class="alert alert-info small text-center p-0 mt-2 mb-0">🛈 Scoreboard</p>
</div>
<div class="row">
    <div class="col mt-2 ms-1">
        <ng-container *ngIf="battingTeamDetails.battingOrder == 2">
            <p><b class="text-secondary">{{bowlingTeamDetails.name}}</b> - {{bowlingTeamDetails.total}}/{{bowlingTeamDetails.wickets}}({{bowlingTeamDetails.overInTxt}}/{{bowlingTeamDetails.totOver}})</p>
        </ng-container>
        <p><b>{{battingTeamDetails.name}}</b> - {{battingTeamDetails.total}}/{{battingTeamDetails.wickets}}({{battingTeamDetails.overInTxt}}/{{totover}}) (RR-{{battingTeamDetails.runRate}})</p>
    </div>
</div>
<div id="scoreboard">
    <p class="alert alert-danger small text-start p-0 mt-0 mb-0"> 🏏 Batting Team</p>
    <div class="row">
        <div class="col">
            <table class="table table-borderless">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Batter</th>
                        <th scope="col"></th>
                        <td scope="col">R</td>
                        <td scope="col">B</td>
                        <td scope="col">4s</td>
                        <td scope="col">6s</td>
                        <td scope="col">SR</td>
                      </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="battingTeamDetails.strikerDetails.name!=''">
                        <tr>
                            <td>{{battingTeamDetails.strikerDetails.name==""?"":battingTeamDetails.strikerDetails.name+"🏏"}}</td>
                            <td>{{battingTeamDetails.strikerDetails.out=="true"?"Out":"Not Out"}}</td>
                            <td>{{battingTeamDetails.strikerDetails.runs_score}}</td>
                            <td>{{battingTeamDetails.strikerDetails.balls_faced}}</td>
                            <td>{{battingTeamDetails.strikerDetails.fours}}</td>
                            <td>{{battingTeamDetails.strikerDetails.sixes}}</td>
                            <td>{{battingTeamDetails.strikerDetails.strike_rate}}</td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="battingTeamDetails.nonStrikerDetails.name!=''">
                    <tr>
                        <td>{{battingTeamDetails.nonStrikerDetails.name}}</td>
                        <td>{{battingTeamDetails.nonStrikerDetails.out=="true"?"Out":"Not Out"}}</td>
                        <td>{{battingTeamDetails.nonStrikerDetails.runs_score}}</td>
                        <td>{{battingTeamDetails.nonStrikerDetails.balls_faced}}</td>
                        <td>{{battingTeamDetails.nonStrikerDetails.fours}}</td>
                        <td>{{battingTeamDetails.nonStrikerDetails.sixes}}</td>
                        <td>{{battingTeamDetails.nonStrikerDetails.strike_rate}}</td>
                    </tr>
                </ng-container>
                </tbody>
            </table>
        </div>
    </div>
    <p class="alert alert-danger small text-start p-0 mt-2 mb-0"> 🥎 Bowling Team</p>
    <div class="row">
        <div class="col">
            <table class="table table-borderless">
                <thead class="table-light">
                 <tr>
                    <th scope="col">Bowler</th>
                    <td scope="col">O</td>
                    <td scope="col">M</td>
                    <td scope="col">R</td>
                    <td scope="col">W</td>
                    <td scope="col">Eco.</td>
                  </tr>
                </thead>
                <tbody>
                   <ng-container *ngIf="bowlingTeamDetails.bowlerDetails.name!=''">
                     <tr>
                        <td>{{bowlingTeamDetails.bowlerDetails.name==""?"":bowlingTeamDetails.bowlerDetails.name+" 🥎"}}</td>
                        <td>{{bowlingTeamDetails.bowlerDetails.overs_bowl_display}}</td>
                        <td>{{bowlingTeamDetails.bowlerDetails.maiden_over}}</td>
                        <td>{{bowlingTeamDetails.bowlerDetails.runs_given}}</td>
                        <td>{{bowlingTeamDetails.bowlerDetails.wickets_taken}}</td>
                        <td>{{bowlingTeamDetails.bowlerDetails.economy}}</td>
                     </tr>
                    </ng-container>
                   <ng-container *ngIf="bowlingTeamDetails.last_bowlerDetails.overs_bowl>0">
                    <tr>
                        <td>{{bowlingTeamDetails.last_bowlerDetails.name}}</td>
                        <td>{{bowlingTeamDetails.last_bowlerDetails.overs_bowl_display}}</td>
                        <td>{{bowlingTeamDetails.last_bowlerDetails.maiden_over}}</td>
                        <td>{{bowlingTeamDetails.last_bowlerDetails.runs_given}}</td>
                        <td>{{bowlingTeamDetails.last_bowlerDetails.wickets_taken}}</td>
                        <td>{{bowlingTeamDetails.last_bowlerDetails.economy}}</td>
                      </tr>
                  </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="events" class="container center">
    <div class="row">
        <div class="col-sm">
            <div class="row text-center mb-2 flex-wrap" style="font-family: monospace;" [ngClass]="([0,2,4,5].includes(matchStatus))?'ctrl-disable':''">
                <div appPreventDoubleClick class="col-3 py-1 border btn btn-primary" data-event="0" (click)="eventClick('0')">0</div>
                <div appPreventDoubleClick class="col-3 py-1 border btn btn-primary" data-event="1" (click)="eventClick('1')">1</div>
                <div appPreventDoubleClick class="col-3 py-1 border btn btn-primary" data-event="2" (click)="eventClick('2')">2</div>
                <div appPreventDoubleClick class="col-3 py-1 border btn btn-primary" data-event="3" (click)="eventClick('3')">3</div>
                
                <div appPreventDoubleClick class="col-3 py-1 border btn btn-primary" data-event="4" (click)="eventClick('4')">4</div>
                <div appPreventDoubleClick class="col-3 py-1 border btn btn-primary" data-event="6" (click)="eventClick('5')">5</div>
                <div appPreventDoubleClick class="col-3 py-1 border btn btn-primary" data-event="4" (click)="eventClick('6')">6</div>
                <div appPreventDoubleClick class="col-3 py-1 border btn btn-primary" data-event="6" (click)="eventClick('7')">7</div>

                <div appPreventDoubleClick class="col-3 py-1 border btn btn-dark" data-event="Wd" (click)="eventClick('Wd')">Wide</div>
                <div appPreventDoubleClick class="col-3 py-1 border btn btn-dark" data-event="N" (click)="eventClick('N')">No-Ball</div>
                <div appPreventDoubleClick class="col-3 py-1 border btn btn-dark" data-event="Lb" (click)="eventClick('Lb')">Leg Bye</div>
                <div appPreventDoubleClick class="col-3 py-1 border btn btn-dark" data-event="B" (click)="eventClick('B')">Bye</div>

                <div appPreventDoubleClick class="col-4 py-1 border btn btn-info" data-event="P" (click)="eventClick('P')">Penalty</div>
                <div appPreventDoubleClick class="offset-4 col-4 py-1 border btn btn-danger" data-event="W" (click)="eventClick('W')">Wicket</div>

                <div appPreventDoubleClick class="col-4 py-1 border btn btn-secondary" data-event="Br" (click)="breakClick()">Break</div>
                <div appPreventDoubleClick class="col-4 py-1 border btn btn-dark" data-event="Un" (click)="eventClick('Un')">Undo</div>
                <div appPreventDoubleClick class="col-4 py-1 border btn btn-success" data-event="Ro" (click)="eventClick('Ro')">Rotate</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="alert alert-secondary text-center" id="ballHistory">
            <span class="badge bg-secondary ms-1" *ngFor="let item of lastEvents">{{item}}</span>
        </div>
    </div>
</div>

<div class="modal fade" id="modal" bsModal #parentModal="bs-modal" [config]="{backdrop: 'static'}" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="question">{{modalmessage}}</h5>
        </div>
        <div class="modal-body" id="selections1">
              <app-setplayer [player]="playersSet"></app-setplayer> 
        </div>
        <div class="text-center py-1">
        <button type="button" id="confirm" class="btn btn-success">Confirm</button>
        </div>
    </div>
    </div>
</div>

<div class="modal fade" id="runmademodal" bsModal #runmademodal="bs-modal" [config]="{backdrop: 'static'}" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="question1">{{runmodalmessage}}</h5>
        </div>
        <div class="modal-body" id="selections1">
            <div class="list-group">
                <ng-container *ngFor="let run of extraRun">
                    <input type="radio" name="optionsrun" id="{{run}}" value="{{run}}">
                    <label class="list-group-item" for="{{run}}">{{run}}</label>
                </ng-container>
            </div>
        </div>
        <div class="text-center py-1">
        <button type="button" id="rumconfirm" class="btn btn-success" (click)="onRunConfirm()">Confirm</button>
        </div>
    </div>
    </div>
</div>

<div class="modal fade" id="inningStatus" bsModal #breakModal="bs-modal" [config]="{backdrop: 'static'}" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
            <h6 class="modal-title" id="question2">Break</h6>
            </div>
            <div class="modal-body" id="selections3">
                <div class="row text-center mb-2 flex-wrap" style="font-family: monospace;">
                    <div class="col">
                        <button class="btn btn-secondary" [ngClass]="bufferMatchStatus==5?'btn-dark':'btn-secondary'" (click)="breakEventClick(5)">Unwanted Break</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-secondary" [ngClass]="bufferMatchStatus==6?'btn-dark':'btn-secondary'" (click)="breakEventClick(6)">Restart Break</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-secondary" [ngClass]="bufferMatchStatus==3?'btn-dark':'btn-secondary'" (click)="breakEventClick(3)">Start 2nd Ings</button>
                    </div>
                </div>
            </div>
            <div class="text-center py-1">
                <button type="button" id="inningStatusconfirm" class="btn btn-success" (click)="breakEventConfirm()" >Confirm</button>
            </div>
        </div>
     </div>
</div>

<div class="modal fade" id="result" bsModal #resultModal="bs-modal" [config]="{backdrop: 'static'}" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
            <h6 class="modal-title" id="question4">Result</h6>
            </div>
            <div class="modal-body" id="selections4">
                <div class="row text-center" style="font-family: monospace;">
                    <div class="col">
                        <div class="alert alert-info" role="alert">
                            {{resultModalmessage}}
                          </div>
                    </div>
                </div>
                <div class="row text-center" style="font-family: monospace;">
                    <div class="col">
                       <button class="btn btn-success"  (click)="onClickNewMatch()">Go to New Match</button>                        
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>
