<div class="row">
    <div class="col-6">
        <div class="list-group">
            <ng-container *ngFor="let item of player;let i=index">
              <ng-container *ngIf="i%2==0">
                <input type="radio" name="options" id="{{item.name}}" value="{{item.name}}">
                <label class="list-group-item" for="{{item.name}}">{{item.name}}</label>
              </ng-container>
            </ng-container>
        </div>        
    </div>
    <div class="col-6">
        <div class="list-group">
          <ng-container *ngFor="let item of player;let i=index">
            <ng-container *ngIf="i%2!=0">
                <input type="radio" name="options" id="{{item.name}}" value="{{item.name}}">
                <label class="list-group-item" for="{{item.name}}">{{item.name}}</label>
            </ng-container>
          </ng-container>
        </div>
    </div>
 </div> 

