<div class="mt-3">
    <tabset>
      <tab heading="Scorecard" id="tabScorecard">
          <div class="mt-3 row">
           <div class="col-9"><span class="text-danger">{{matchmsg}}</span></div>
          </div>
          <ng-container *ngIf="battingTeamDetails.battingOrder==2">
            <div class="mt-3 row">
              <div id="scoreboard" class="col-9">
                    <div class="row">
                    <div class="col">
                      <div class="bg-secondary p-2 clearfix">
                        <span class="text-light float-start">{{this.battingTeamDetails.name +' Innings'}}</span>
                        <span class="text-light float-end">{{this.battingTeamDetails.total +'-'+this.battingTeamDetails.wickets+' ('+this.battingTeamDetails.overInTxt+')'}}</span>
                      </div>
                    </div>
                    </div>
                    <div class="row">
                       <div class="col">
                        <table class="table table-sm">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">Batter</th>
                                    <td scope="col"></td>
                                    <td scope="col">R</td>
                                    <td scope="col">B</td>
                                    <td scope="col">4s</td>
                                    <td scope="col">6s</td>
                                    <td scope="col">SR</td>
                                  </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of didBatSecArr">
                                  <td class="text-primary" [ngClass]="item.out==false?'font-weight-bold':''">{{item.name}}</td>
                                  <td>{{item.out==true?"out":"not out"}}</td>
                                  <td>{{item.runs_score}}</td>
                                  <td>{{item.balls_faced}}</td>
                                  <td>{{item.fours}}</td>
                                  <td>{{item.sixes}}</td>
                                  <td>{{item.strike_rate}}</td>
                                </tr>
                                <tr>
                                  <td colspan="2">Extras</td>
                                  <td colspan="5">{{this.battingTeamDetails.extra}}</td>
                                </tr>
                                <tr>
                                  <td colspan="2">Total</td>
                                  <td colspan="5">{{this.battingTeamDetails.total+'('+this.battingTeamDetails.wickets+ ' Wkts, '+this.battingTeamDetails.overInTxt+' Ov)'}}</td>
                                </tr>
                                <tr>
                                  <td>{{didNotBatMsg}}</td>
                                  <td colspan="6" class="text-primary">
                                    <ul>
                                      <ng-container *ngFor="let item of didnotBatSecArr">
                                        <li>{{item.name}}</li>
                                      </ng-container>
                                    </ul>
                                  </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col">
                          <table class="table table-sm">
                            <thead class="table-light">
                                <tr>
                                  <th scope="col">Fall of Wickets</th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <ul>
                                  <li *ngFor="let item of battingTeamDetails.fallOfWickets;let i=index">
                                    {{item.totRun+"-"+(i+1)+" ("+item.batter+", "+item.overs+")"}}
                                  </li>
                                </ul>
                              </tr>
                            </tbody>
                            </table>
                        </div>
                     </div>
                     <div class="row">
                         <div class="col">
                        <table class="table table-sm">
                            <thead class="table-light">
                             <tr>
                                <th scope="col">Bowler</th>
                                <td scope="col">O</td>
                                <td scope="col">M</td>
                                <td scope="col">R</td>
                                <td scope="col">W</td>
                                <td scope="col">Eco.</td>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of bowlSecData">
                                <td class="text-primary" [ngClass]="item.isCurrentBowler==true?'font-weight-bold':''">{{item.name}}</td>
                                <td>{{item.overs_bowl_display}}</td>
                                <td>{{item.maiden_over}}</td>
                                <td>{{item.runs_given}}</td>
                                <td>{{item.wickets_taken}}</td>
                                <td>{{item.economy}}</td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                      <div class="col">
                        <table class="table table-sm">
                            <thead class="table-light">
                                <tr>
                                  <th scope="col">Powerplays</th>
                                  <th scope="col">Overs</th>
                                  <th scope="col">Runs</th>
                                </tr>
                             </thead>
                          </table>
                      </div>
                     </div>
                  </div>
              </div>           
            </div>
            
            <div class="mt-3 row">
              <div id="scoreboard" class="col-9">
                    <div class="row">
                    <div class="col">
                      <div class="bg-secondary p-2 clearfix">
                        <span class="text-light float-start">{{this.bowlingTeamDetails.name +' Innings'}}</span>
                        <span class="text-light float-end">{{this.bowlingTeamDetails.total +'-'+this.bowlingTeamDetails.wickets+' ('+this.bowlingTeamDetails.overInTxt+')'}}</span>
                      </div>
                    </div>
                    </div>
                    <div class="row">
                       <div class="col">
                        <table class="table table-sm">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">Batter</th>
                                    <td scope="col"></td>
                                    <td scope="col">R</td>
                                    <td scope="col">B</td>
                                    <td scope="col">4s</td>
                                    <td scope="col">6s</td>
                                    <td scope="col">SR</td>
                                  </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of didBatFristArr">
                                  <td class="text-primary" [ngClass]="item.out==false?'font-weight-bold':''">{{item.name}}</td>
                                  <td>{{item.out==true?"out":"not out"}}</td>
                                  <td>{{item.runs_score}}</td>
                                  <td>{{item.balls_faced}}</td>
                                  <td>{{item.fours}}</td>
                                  <td>{{item.sixes}}</td>
                                  <td>{{item.strike_rate}}</td>
                                </tr>
                                <tr>
                                  <td colspan="2">Extras</td>
                                  <td colspan="5">{{this.bowlingTeamDetails.extra}}</td>
                                </tr>
                                <tr>
                                  <td colspan="2">Total</td>
                                  <td colspan="5">{{this.bowlingTeamDetails.total+'('+this.bowlingTeamDetails.wickets+ ' Wkts, '+this.bowlingTeamDetails.overInTxt+' Ov)'}}</td>
                                </tr>
                                <tr>
                                  <td>{{didNotBatMsg}}</td>
                                  <td colspan="6" class="text-primary">
                                    <ul>
                                      <ng-container *ngFor="let item of didnotBatFristArr">
                                        <li>{{item.name}}</li>
                                      </ng-container>
                                    </ul>
                                  </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col">
                          <table class="table table-sm">
                            <thead class="table-light">
                                  <tr>
                                    <th scope="col">Fall of Wickets</th>
                                  </tr>
                            </thead>
                            <tbody>
                                 <tr>
                                   <ul>
                                     <li *ngFor="let item of bowlingTeamDetails.fallOfWickets;let i=index">
                                       {{item.totRun+"-"+(i+1)+" ("+item.batter+", "+item.overs+")"}}
                                     </li>
                                   </ul>
                                 </tr>
                            </tbody>
                            </table>
                        </div>
                     </div>
                     <div class="row">
                         <div class="col">
                        <table class="table table-sm">
                            <thead class="table-light">
                             <tr>
                                <th scope="col">Bowler</th>
                                <td scope="col">O</td>
                                <td scope="col">M</td>
                                <td scope="col">R</td>
                                <td scope="col">W</td>
                                <td scope="col">Eco.</td>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of bowlFirstData">
                                <td class="text-primary" [ngClass]="item.isCurrentBowler==true?'font-weight-bold':''">{{item.name}}</td>
                                <td>{{item.overs_bowl_display}}</td>
                                <td>{{item.maiden_over}}</td>
                                <td>{{item.runs_given}}</td>
                                <td>{{item.wickets_taken}}</td>
                                <td>{{item.economy}}</td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                      <div class="col">
                        <table class="table table-sm">
                            <thead class="table-light">
                                <tr>
                                  <th scope="col">Powerplays</th>
                                  <th scope="col">Overs</th>
                                  <th scope="col">Runs</th>
                                </tr>
                             </thead>
                          </table>
                      </div>
                     </div>
                  </div>
              </div>           
            </div>

          </ng-container>
          <ng-container *ngIf="battingTeamDetails.battingOrder==1">
          <div class="mt-3 row">
            <div id="scoreboard" class="col-9">
                  <div class="row">
                  <div class="col">
                    <div class="bg-secondary p-2 clearfix">
                      <span class="text-light float-start">{{this.battingTeamDetails.name +' Innings'}}</span>
                      <span class="text-light float-end">{{this.battingTeamDetails.total +'-'+this.battingTeamDetails.wickets+' ('+this.battingTeamDetails.overInTxt+')'}}</span>
                    </div>
                  </div>
                  </div>
                  <div class="row">
                     <div class="col">
                      <table class="table table-sm">
                          <thead class="table-light">
                              <tr>
                                  <th scope="col">Batter</th>
                                  <td scope="col"></td>
                                  <td scope="col">R</td>
                                  <td scope="col">B</td>
                                  <td scope="col">4s</td>
                                  <td scope="col">6s</td>
                                  <td scope="col">SR</td>
                                </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let item of didBatFristArr">
                                <td class="text-primary" [ngClass]="item.out==false?'font-weight-bold':''">{{item.name}}</td>
                                <td>{{item.out==true?"out":"not out"}}</td>
                                <td>{{item.runs_score}}</td>
                                <td>{{item.balls_faced}}</td>
                                <td>{{item.fours}}</td>
                                <td>{{item.sixes}}</td>
                                <td>{{item.strike_rate}}</td>
                              </tr>
                              <tr>
                                <td colspan="2">Extras</td>
                                <td colspan="5">{{this.battingTeamDetails.extra}}</td>
                              </tr>
                              <tr>
                                <td colspan="2">Total</td>
                                <td colspan="5">{{this.battingTeamDetails.total+'('+this.battingTeamDetails.wickets+ ' Wkts, '+this.battingTeamDetails.overInTxt+' Ov)'}}</td>
                              </tr>
                              <tr>
                                <td>Yet to Bat</td>
                                <td colspan="6" class="text-primary">
                                  <ul>
                                    <ng-container *ngFor="let item of didnotBatFristArr">
                                      <li>{{item.name}}</li>
                                    </ng-container>
                                  </ul>
                                </td>
                              </tr>
                          </tbody>
                      </table>
                      </div>
                   </div>
                   <div class="row">
                      <div class="col">
                        <table class="table table-sm">
                          <thead class="table-light">
                              <tr>
                                  <th scope="col">Fall of Wickets</th>
                                </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <ul>
                                <li *ngFor="let item of battingTeamDetails.fallOfWickets;let i=index">
                                  {{item.totRun+"-"+(i+1)+" ("+item.batter+", "+item.overs+")"}}
                                </li>
                              </ul>
                            </tr>
                       </tbody>
                          </table>
                      </div>
                   </div>
                   <div class="row">
                       <div class="col">
                      <table class="table table-sm">
                          <thead class="table-light">
                           <tr>
                              <th scope="col">Bowler</th>
                              <td scope="col">O</td>
                              <td scope="col">M</td>
                              <td scope="col">R</td>
                              <td scope="col">W</td>
                              <td scope="col">Eco.</td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of bowlFirstData">
                              <td class="text-primary" [ngClass]="item.isCurrentBowler==true?'font-weight-bold':''">{{item.name}}</td>
                              <td>{{item.overs_bowl_display}}</td>
                              <td>{{item.maiden_over}}</td>
                              <td>{{item.runs_given}}</td>
                              <td>{{item.wickets_taken}}</td>
                              <td>{{item.economy}}</td>
                            </tr>
                          </tbody>
                      </table>
                  </div>
                  <div class="row">
                    <div class="col">
                      <table class="table table-sm">
                          <thead class="table-light">
                              <tr>
                                <th scope="col">Powerplays</th>
                                <th scope="col">Overs</th>
                                <th scope="col">Runs</th>
                              </tr>
                           </thead>
                        </table>
                    </div>
                   </div>
                </div>
            </div>           
          </div>
        </ng-container>
      </tab>
      <tab heading="Commentary" id="tabCommentary"></tab>
    </tabset>
</div>
