<div class="mt-3">
    <tabset>
      <tab heading="Scorecard" id="tabScorecard">
          <div class="mt-3">
            <div id="scoreboard">
                  <div class="row">
                  <div class="col">
                    <div class="bg-secondary p-2 clearfix">
                      <span class="text-light float-start">{{this.battingTeamDetails.name +' Innings'}}</span>
                      <span class="text-light float-end">{{this.battingTeamDetails.total +'-'+this.battingTeamDetails.wickets+' ('+this.battingTeamDetails.overInTxt+')'}}</span>
                    </div>
                  </div>
                  </div>
                  <div class="row">
                     <div class="col">
                      <table class="table table-borderless">
                          <thead class="table-light">
                              <tr>
                                  <th scope="col">Batter</th>
                                  <th scope="col"></th>
                                  <td scope="col">R</td>
                                  <td scope="col">B</td>
                                  <td scope="col">4s</td>
                                  <td scope="col">6s</td>
                                  <td scope="col">SR</td>
                                </tr>
                          </thead>
                          <tbody>
                              <ng-container *ngIf="battingTeamDetails.strikerDetails.name!=''">
                                  <tr>
                                      <td>{{battingTeamDetails.strikerDetails.name==""?"":battingTeamDetails.strikerDetails.name+"🏏"}}</td>
                                      <td>{{battingTeamDetails.strikerDetails.out=="true"?"Out":"Not Out"}}</td>
                                      <td>{{battingTeamDetails.strikerDetails.runs_score}}</td>
                                      <td>{{battingTeamDetails.strikerDetails.balls_faced}}</td>
                                      <td>{{battingTeamDetails.strikerDetails.fours}}</td>
                                      <td>{{battingTeamDetails.strikerDetails.sixes}}</td>
                                      <td>{{battingTeamDetails.strikerDetails.strike_rate}}</td>
                                  </tr>
                              </ng-container>
                              <ng-container *ngIf="battingTeamDetails.nonStrikerDetails.name!=''">
                              <tr>
                                  <td>{{battingTeamDetails.nonStrikerDetails.name}}</td>
                                  <td>{{battingTeamDetails.nonStrikerDetails.out=="true"?"Out":"Not Out"}}</td>
                                  <td>{{battingTeamDetails.nonStrikerDetails.runs_score}}</td>
                                  <td>{{battingTeamDetails.nonStrikerDetails.balls_faced}}</td>
                                  <td>{{battingTeamDetails.nonStrikerDetails.fours}}</td>
                                  <td>{{battingTeamDetails.nonStrikerDetails.sixes}}</td>
                                  <td>{{battingTeamDetails.nonStrikerDetails.strike_rate}}</td>
                              </tr>
                          </ng-container>
                          </tbody>
                      </table>
                      </div>
                   </div>
              
                   <div class="row">
                  <div class="col">
                      <table class="table table-borderless">
                          <thead class="table-light">
                           <tr>
                              <th scope="col">Bowler</th>
                              <td scope="col">O</td>
                              <td scope="col">M</td>
                              <td scope="col">R</td>
                              <td scope="col">W</td>
                              <td scope="col">Eco.</td>
                            </tr>
                          </thead>
                          <tbody>
                             <ng-container *ngIf="bowlingTeamDetails.bowlerDetails.name!=''">
                               <tr>
                                  <td>{{bowlingTeamDetails.bowlerDetails.name==""?"":bowlingTeamDetails.bowlerDetails.name+" 🥎"}}</td>
                                  <td>{{bowlingTeamDetails.bowlerDetails.overs_bowl_display}}</td>
                                  <td>{{bowlingTeamDetails.bowlerDetails.maiden_over}}</td>
                                  <td>{{bowlingTeamDetails.bowlerDetails.runs_given}}</td>
                                  <td>{{bowlingTeamDetails.bowlerDetails.wickets_taken}}</td>
                                  <td>{{bowlingTeamDetails.bowlerDetails.economy}}</td>
                               </tr>
                              </ng-container>
                             <ng-container *ngIf="bowlingTeamDetails.last_bowlerDetails.overs_bowl>0">
                              <tr>
                                  <td>{{bowlingTeamDetails.last_bowlerDetails.name}}</td>
                                  <td>{{bowlingTeamDetails.last_bowlerDetails.overs_bowl_display}}</td>
                                  <td>{{bowlingTeamDetails.last_bowlerDetails.maiden_over}}</td>
                                  <td>{{bowlingTeamDetails.last_bowlerDetails.runs_given}}</td>
                                  <td>{{bowlingTeamDetails.last_bowlerDetails.wickets_taken}}</td>
                                  <td>{{bowlingTeamDetails.last_bowlerDetails.economy}}</td>
                                </tr>
                            </ng-container>
                          </tbody>
                      </table>
                  </div>
                   </div>
             </div>           
          </div>
      </tab>
      <tab heading="Commentary" id="tabCommentary"></tab>
    </tabset>
</div>
